.icon-envelope,.icon-info,.icon-pencil,.icon-books,.icon-envelop,.icon-clock,.icon-bell,.icon-lab,.icon-star,.icon-twitter,.icon-github,.icon-tumblr,.icon-linkedin {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
	background-size: 400px 16px;
}
.icon-envelope {
	background-position: 0 0;
}
.icon-info {
	background-position: -32px 0;
}
.icon-pencil {
	background-position: -128px 0;
}
.icon-books {
	background-position: -192px 0;
}
.icon-envelop {
	background-position: -256px 0;
}
.icon-clock {
	background-position: -320px 0;
}
.icon-bell {
	background-position: -384px 0;
}
.icon-lab {
	background-position: -448px 0;
}
.icon-star {
	background-position: -512px 0;
}
.icon-twitter {
	background-position: -576px 0;
}
.icon-github {
	background-position: -640px 0;
}
.icon-tumblr {
	background-position: -704px 0;
}
.icon-linkedin {
	background-position: -768px 0;
}
